.textarea{
    font-family: Roboto;
    font-weight: 200;
    margin: 1rem 3rem 5rem 300px;
    min-height: 80vh;
}

.textarea h1{
    text-align: center;
    border-bottom: thin solid black;
    font-weight: 100;
}

.textarea h2
,.textarea h3
,.textarea h4
,.textarea h5
,.textarea h6{
    font-weight: 100;
}

.title{
    text-align: center;
}

input{
    text-align: center;
}

.menu{
    max-width: 100%;
    display: flex;
}

.menu button, .menu select{
    color: #333;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border: none;
    background-color: #fff;
    font-family: Roboto;
    font-weight: 500;
    border: thin solid #fff;
}

.menu button:hover{
   /* border: thin solid blue; */
}

.font_size{
    position: absolute;
    right: 0;
    left: auto;
    font-size: 0.8em;
    font-weight: 500;
    padding-top: 0.4rem;
}

.font_size_title::after{
    content: " / ";
}

.font_size_title{
    padding: 0.3rem 1rem 0.3rem 1rem;
}
